<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property file="${config.path}/log.properties" />
	<include resource="Commons/logback.xml" />

	<appender name="CONSOLE_APPENDER"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date][%X{requestId}][%t][%.-5level][%logger{0}]::
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE_APPENDER" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
